lib
dist
node_modules

generated
coverage

.npmrc
.yarnrc


verdaccio/storage/**
!verdaccio/storage/.gitkeep
verdaccio/plugins/**
!verdaccio/plugins/.gitkeep

!src/generated/.gitkeep
!generated/.gitkeep